apache-airflow-providers-microsoft-mssql==4.4.0
apache-airflow-providers-postgres==6.2.0
lxml==6.1.0
msgraph-sdk==1.49.0
openpyxl==3.1.5
pandas==2.1.4
pycurl==7.45.7
requests==2.32.5
pyproj==3.7.2
geoalchemy2==0.18.1
shapely==2.1.0
rk-digi==2.1.0
kombit-client==1.1.1
PyMuPDF==1.24.14